:root {
  --board-side-length: 25rem;
  --bg-color: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 16%);
  --color-green: hsl(114, 100%, 90%);
  --color-winner: hsl(114, 100%, 40%);
  --img-side-length: 4rem;
}

.display-none {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--bg-color);
}

.players-board {
  display: flex;
  width: var(--board-side-length);
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 4rem;
  border: 1px solid var(--color-black);
  padding: 0.5rem 0;
}

.players-board .players {
  padding-top: 0.25rem;
  opacity: 0.5;
}

.players-board .players.next {
  opacity: 1;
}

.players-board .score {
  color: var(--color-winner);
}

img,
.players-board .players {
  width: var(--img-side-length);
  height: var(--img-side-length);
}

.game-board {
  width: var(--board-side-length);
  height: var(--board-side-length);
  max-width: 100%;
  background: var(--color-black);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
}

.game-board-box {
  background: var(--bg-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board-box:hover {
  background: var(--color-green);
}

.game-board-box.winner-box {
  background: var(--color-green);
  /* transition: background 200ms ease-in-out; */
  animation: blink 0.5s;
}

@keyframes blink {
  33% {
    background-color: var(--color-winner);
  }

  66% {
    background-color: var(--color-green);
  }

  100% {
    background-color: var(--color-winner);
  }
}

.btn-board {
  width: var(--board-side-length);
  display: flex;
  justify-content: space-between;
}

.btn-board div {
  cursor: pointer;
  width: 25%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid;
}

.btn-board div:hover,
.btn-board .selected {
  background: var(--color-green);
}
